@import "tailwindcss";
@import 'leaflet/dist/leaflet.css';

:root {
  --background: #fafaf9;
  /* Stone 50 */
  --foreground: #1c1917;
  /* Stone 900 */
  --primary: #fb923c;
  /* Orange 400 */
  --primary-foreground: #ffffff;
}

body {
  background-color: var(--background);
  color: var(--foreground);
  font-family: var(--font-heebo), Helvetica, Arial, sans-serif;
  overflow-x: hidden;
}

/* Custom Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1;
  border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8;
}